@font-face {
    font-family: iranyekan;
    src: url('../fonts/IRANYekan/woff2/iranyekanwebregular.woff2');
    font-weight: 400;
}

@font-face {
    font-family: iranyekan;
    src: url('../fonts/IRANYekan/woff2/iranyekanweblight.woff2');
    font-weight: 300;
}

@font-face {
    font-family: iranyekan;
    src: url('../fonts/IRANYekan/woff2/iranyekanwebbold.woff2');
    font-weight: 600;
}


@font-face {
    font-family: iransans;
    src: url('../fonts/IRANSans/woff2/IRANSansWeb\(FaNum\).woff2');
    font-weight: 400;
}

@font-face {
    font-family: iranyekan;
    src: url('../fonts/IRANSans/woff2/IRANSansWeb\(FaNum\).woff2');
    font-weight: 300;
}

@font-face {
    font-family: iranyekan;
    src: url('../fonts/IRANSans/woff2/IRANSansWeb\(FaNum\)_Bold.woff2');
    font-weight: 600;
}
